modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"
run = ["sh", "-c", "node dist/index.mjs"]

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["github:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
JWT_SECRET = "1ebb40f7a91963a8eebfa32a24aa249fa124e3b74249ac557cacf0b59d2943f675f2a8c9700d79fd6b76a1e91cb8e8ed"
STRIPE_PUBLISHABLE_KEY = "pk_test_51TFe78A7LSB0LZwlCyQ3BmGpDAiRmiYXQOFnmmf9VpJUkwKAeoK5eJ3fQ91QlJwgTP4SQyjZJOtuBFCJ5Lz67lhH00Me8z0pOp"
STRIPE_SECRET_KEY = "sk_test_51TFe78A7LSB0LZwlaY2kEGVsb5rszcE5oVaBjwB7wj7j1TOeEFs20Yj0cMkRsbm3oEe4dbyhlURbdzbx1jmzsDmP00sSqZS4B6"
